{% extends "base/base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block style_header %}
    class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
{% endblock %}

{% block main %}
<section id="mu-create-club">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mu-create-club-area">
                    <h2>Tạo đội bóng</h2>
                    <form class="mu-create-club-form" method="post">
                        <div class="mu-create-club-content">
                            <div class="mu-create-club-image">
                                <img src="{{ url_for('static', filename='images/default_football_club.png') }}">
                            </div>
                            <div class="mu-create-club-form-body">
                                <div class="form-group">
                                    <label>Tên đội</label>
                                    <input type="text" class="form-control" name="name" required />
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại</label>
                                    <input type="text" class="form-control" maxlength="10" name="phone" required />
                                </div>
                                <div class="form-group">
                                    <label>Khu vực hoạt động</label>
                                    <input type="text" class="form-control" name="address" required />
                                </div>
                                <div class="form-group">
                                    <label>Giới tính</label>
                                    <select class="form-control" name="gender_id">
                                        {% for gender in genders %}
                                        <option value="{{ gender.id }}">{{ gender.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Trình độ</label>
                                    <select class="form-control" name="level_id">
                                        {% for level in levels %}
                                        <option value="{{ level.id }}">{{ level.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit">Tạo đội bóng</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}