{% extends "base/base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block style_header %}
    class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
{% endblock %}

{% block main %}
<section id="mu-leagues-club">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-leagues-club-area">
                    <div class="mu-leagues-club-content">
                        <div id="sidebar">
                            <a href="{{ url_for('club_detail', club_id=club.id) }}"><i class="icon-info"></i><span>Đội bóng</span></a>
                            <a href="{{ url_for('players_club', club_id=club.id) }}"><i class="icon-people"></i><span>Cầu thủ</span></a>
                            <a href="{{ url_for('leagues_club', club_id=club.id) }}"><i class="icon-trophy"></i><span>Giải đấu</span></a>
                            <a href="{{ url_for('achievements', club_id=club.id) }}"><i class="icon-chart"></i><span>Thành tích</span></a>
                        </div>
                        <div class="mu-leagues-club-body">
                            <h4>Các giải đấu</h4>
                            {% if league_club %}
                                {% for lc in league_club %}
                                <div class="mu-leagues-club-group-card">
                                    <a href="{{ url_for('schedule', league_id=lc.league_id) }}" class="mu-leagues-club-card">
                                        <div class="mu-leagues-club-card-image">
                                            <img src="{{ url_for('static', filename='images/football-colorful.jpg') }}">
                                        </div>
                                        <div class="mu-leagues-club-card-body">
                                            <h5>{{ lc.league_id|get_league_name_by_league_id }}</h5>
                                            <p>Số đội tham gia: <span>{{ lc.league_id|get_total_club_of_league }}</span></p>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            {% else %}
                            <div class="alert alert-info" style="margin: 20px;">
                                <h3>Hiện tại đội chưa tham gia giải đấu nào !!!</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}