{% extends "base/base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block style_header %}
    class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
{% endblock %}

{% block main %}
<section id="mu-players">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-players-area">
                    <div class="mu-players-content">
                        <div id="sidebar">
                            <a href="{{ url_for('club_detail', club_id=club.id) }}"><i class="icon-info"></i><span>Đội bóng</span></a>
                            <a href="{{ url_for('players_club', club_id=club.id) }}"><i class="icon-people"></i><span>Cầu thủ</span></a>
                            <a href="{{ url_for('leagues_club', club_id=club.id) }}"><i class="icon-trophy"></i><span>Giải đấu</span></a>
                            <a href="{{ url_for('achievements', club_id=club.id) }}"><i class="icon-chart"></i><span>Thành tích</span></a>
                        </div>
                        <div class="mu-players-body table-responsive">
                            <h4>Các cầu thủ</h4>
                            {% if club.user_id == current_user.id %}
                            <a class="btn btn-primary"
                               href="{{ url_for('create_player', club_id=club.id) }}">Thêm cầu thủ</a>
                            {% endif %}
                            {% if club.players %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Tên cầu thủ</th>
                                        <th scope="col">Ngày sinh</th>
                                        <th scope="col">Số điện thoại</th>
                                        <th scope="col">Loại cầu thủ</th>
                                        <th scope="col">Tổng số bàn thắng</th>
                                        {% if club.user_id == current_user.id %}
                                        <th scope="col">Hành động</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in club.players %}
                                    <tr>
                                        <td>{{ player.name }}</td>
                                        <td>{{ player.birthday.strftime('%d-%m-%Y') }}</td>
                                        <td>{{ player.phone }}</td>
                                        <td>{{ player.type_player_id|get_type_player_name_by_type_player_id }}</td>
                                        <td>{{ player.id|get_total_goal_by_player_id }}</td>
                                        {% if club.user_id == current_user.id %}
                                        <td>
                                            <a style="margin: 0;"
                                               class="btn btn-success"
                                               href="{{ url_for('player_detail', player_id=player.id) }}"
                                               target="_blank"><i class="icon-note"></i></a>
                                            <button class="btn btn-danger"
                                                    onclick="deletePlayer({{ player.id }})"><i class="icon-trash"></i></button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <div class="alert alert-info" style="margin: 20px;">
                                <h3>Hiện tại đội chưa có cầu thủ nào !!!</h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function deletePlayer(player_id) {
        var result = confirm("Bạn có muốn xóa cầu thủ này không ?");
        if (result == true) {
            console.log("DELETE");
            $.ajax({
            accepts: {
                mycustomtype: 'application/json'
                },
                dataType: 'json',
                url: '/api/detele-player/' + player_id,
                success: (data) => {
                   window.location.href = window.location.href;
                }
            })
        } else {
          console.log("CANCEL");
        }
    }
</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}