{% extends "base/base.html" %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block style_header %}
    class="mu-fixed-nav" style="background-color: #3fc35f;"
{% endblock %}

{% block slider %}
<section id="mu-league-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-league-detail-area">
                    <div class="mu-league-detail-content">
                        <div class="mu-league-detail-content-header">
                            <div class="mu-league-detail-content-header-image">
                                <img src="/static/images/default_football_league.png">
                            </div>
                            <div class="mu-league-detail-content-header-body">
                                <h6>{{ league.name }}</h6>
                                <p>
                                    {% for city in cities %}
                                        {% if city.id == league.city_id %}
                                        <span>{{ league.address }} | {{ city.name }}</span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p><i class="icon-people"></i> {{ league.id|get_total_club_of_league }} Đội</p>
                            </div>
                        </div>
                        <div class="mu-league-detail-content-body">
                            <div id="sidebar">
                                {% if check_date %}
                                <a href="{{ url_for('register_league', league_id=league.id) }}"><i class="icon-clock"></i><span>Đăng ký giải đấu</span></a>
                                {% endif %}
                                <a href="{{ url_for('schedule', league_id=league.id) }}"><i class="icon-calendar"></i><span>Lịch thi đấu</span></a>
                                <a href="{{ url_for('rank', league_id=league.id) }}"><i class="icon-trophy"></i><span>Bảng xếp hạng</span></a>
                                <a href="{{ url_for('clubs_league', league_id=league.id) }}"><i class="icon-people"></i><span>Đội bóng</span></a>
                                {% if current_user.id == league.user_id %}
                                <a href="{{ url_for('list_register', league_id=league.id) }}"><i class="icon-list"></i><span>Danh sách đăng ký</span></a>
                                <a href="{{ url_for('settings', league_id=league.id) }}"><i class="icon-settings"></i><span>Tùy chỉnh</span></a>
                                {% endif %}
                                <a href="{{ url_for('rules', league_id=league.id) }}"><i class="icon-note"></i><span>Quy định</span></a>
                            </div>
                            <div class="mu-league-detail-body table-responsive">
                                <table class="table" id="rank">
                                    <thead>
                                        <tr>
                                            <th scope="col">Hạng</th>
                                            <th scope="col">Tên đội</th>
                                            <th scope="col">Số trận</th>
                                            <th scope="col" id="tooltip">
                                                <span class="badge badge-win">T</span> -
                                                <span class="badge badge-draw">H</span> -
                                                <span class="badge badge-lose">T</span>
                                                <span class="tooltip-text">Thắng - Hòa - Thua</span>
                                            </th>
                                            <th scope="col">Hiệu số</th>
                                            <th scope="col">Điểm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lc in league_club %}
                                        <tr>
                                            <th scope="row">{{ lc.rank }}</th>
                                            <td>{{ lc.club_id|get_club_name_by_club_id }}</td>
                                            <td>{{ lc.club_id|get_total_match_by_club_id_in_league(lc.league_id) }}</td>
                                            <td>
                                                <span>{{ lc.club_id|get_win_result_league_club(lc.league_id) }}</span>
                                                -
                                                <span>{{ lc.club_id|get_draw_result_league_club(lc.league_id) }}</span>
                                                -
                                                <span>{{ lc.club_id|get_lose_result_league_club(lc.league_id) }}</span>
                                            </td>
                                            <td>{{ lc.goal_difference }}</td>
                                            <td>{{ lc.point }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block jquery %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Slick slider -->
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}